dom-module#docplater-document
	link(rel="import" href="style.css" type="css")
	template
		button(is="cs-button" type="button" on-tap="_toggle_preview") Toggle preview [[preview]]
		#content
			p
				= 'Some content requires '
				docplater-document-parameter company_name
				= ' as company name'
			p
				docplater-document-parameter company_name
				= ' can be used multiple times'
			p
				| Tractu tempora erat tollere peregrinum animalia securae inmensa modo aeris evolvit deerat caligine sua peragebant metusque litora subdita plagae horrifer levius eodem nullo perpetuum animus illas addidit nec rudis passim sectamque ignotas sole melioris omnia circumdare quae agitabilis porrexerat meis piscibus carentem montes emicuit sinistra sanctius coegit zonae faecis moderantum zephyro reparabat lege aere duae umor chaos: persidaque illis foret rerum ubi terrarum hanc cura locavit prima quisquis omnia nulli vis praebebat tuba tuba postquam arce mundi diremit cetera fixo utramque legebantur mutastis litem spectent nullaque frigida levitate onus inmensa cepit levitate securae litem quod fabricator pontus fuit fidem coeperunt.
	script(src="script.js")
