dom-module#docplater-document
	link(rel="import" href="style.css" type="css")
	template
		.panel
			docplate-document-toolbar(scribe_instance="[[scribe_instance]]")
			button(is="cs-button" type="button" on-tap="_toggle_preview" icon="[[if(preview, 'eye', 'eye-slash')]]" force-fullsize tooltip="Preview: [[if(preview, 'on', 'off')]]")
		.content-wrapper
			#content
	script(src="script.js")
