dom-module#docplate-document-toolbar
	link(rel="import" href="style.css" type="css")
	template
		nav#toolbar(is="cs-nav-button-group")
			button(is="cs-button" type="button" data-command-name="undo" icon="undo" force-fullsize tooltip="Undo")
			button(is="cs-button" type="button" data-command-name="redo" icon="repeat" force-fullsize tooltip="Redo")
			button(is="cs-button" type="button" data-command-name="removeFormat" icon="eraser" force-fullsize tooltip="Remove Formatting")
			button(is="cs-button" type="button" disabled inline-tag tag="b" on-tap="_inline_tag_toggle" icon="bold" force-fullsize tooltip="Bold")
			button(is="cs-button" type="button" disabled inline-tag tag="i" on-tap="_inline_tag_toggle" icon="italic" force-fullsize tooltip="Italic")
			button(is="cs-button" type="button" disabled inline-tag tag="u" on-tap="_inline_tag_toggle" icon="underline" force-fullsize tooltip="Underline")
			button(is="cs-button" type="button" disabled inline-tag tag="s" on-tap="_inline_tag_toggle" icon="strikethrough" force-fullsize tooltip="Strike Through")
			button(is="cs-button" type="button" disabled heading-tag level="1" on-tap="_heading_tag_toggle" icon="header" tooltip="Heading level 1") 1
			button(is="cs-button" type="button" disabled heading-tag level="2" on-tap="_heading_tag_toggle" icon="header" tooltip="Heading level 2") 2
			button(is="cs-button" type="button" disabled heading-tag level="3" on-tap="_heading_tag_toggle" icon="header" tooltip="Heading level 3") 3
			button(is="cs-button" type="button" data-command-name="insertOrderedList" icon="list-ol" force-fullsize tooltip="Ordered List")
			button(is="cs-button" type="button" data-command-name="insertUnorderedList" icon="list" force-fullsize tooltip="Unordered List")
			button(is="cs-button" type="button" disabled parameter-tag on-tap="_insert_parameter" icon="tag" force-fullsize tooltip="Insert parameter")
			button(is="cs-button" type="button" data-command-name="indent" icon="indent" force-fullsize tooltip="Indent")
			button(is="cs-button" type="button" data-command-name="outdent" icon="outdent" force-fullsize tooltip="Outdent")
	script(src="script.js")
