dom-module#docplater-document-toolbar
	link(rel="import" href="style.css" type="css")
	template
		nav#toolbar(is="cs-nav-button-group")
			button(is="cs-button" type="button" on-tap="_upload" icon="upload" force-fullsize tooltip="Upload docx file")
			button(is="cs-button" type="button" icon="download" force-fullsize tooltip="Download current document as pdf or docx file")
			nav(is="cs-nav-dropdown")
				nav(is="cs-nav-button-group" vertical)
					button(is="cs-button" type="button" on-tap="_download_as_pdf") Download current document as pdf file
					button(is="cs-button" type="button" on-tap="_download_as_docx" disabled) Download current document as docx file
			button(is="cs-button" type="button" on-tap="_new_document" icon="file-o" force-fullsize tooltip="New document")
			button(is="cs-button" type="button" icon="floppy-o" force-fullsize tooltip="Save as")
			nav(is="cs-nav-dropdown")
				nav(is="cs-nav-button-group" vertical)
					button(is="cs-button" type="button" on-tap="_save_new_document") New document
					button(is="cs-button" type="button" on-tap="_save_new_document_revision" disabled="[[!equal(document.type, 'document')]]") New revision of current document
					button(is="cs-button" type="button" on-tap="_save_new_document_template") New document template
					button(is="cs-button" type="button" on-tap="_save_new_document_template_revision" disabled="[[!equal(document.type, 'template')]]") New revision of current document template
			a(is="cs-link-button" icon="print" href="/Docplater_app/print" target="_new" force-fullsize tooltip="Print")
			button(is="cs-button" type="button" data-command-name="undo" icon="undo" force-fullsize tooltip="Undo")
			button(is="cs-button" type="button" data-command-name="redo" icon="repeat" force-fullsize tooltip="Redo")
			button(is="cs-button" type="button" data-command-name="removeFormat" icon="eraser" force-fullsize tooltip="Remove Formatting")
			button(is="cs-button" type="button" disabled inline-tag tag="b" on-tap="_inline_tag_toggle" icon="bold" force-fullsize tooltip="Bold")
			button(is="cs-button" type="button" disabled inline-tag tag="i" on-tap="_inline_tag_toggle" icon="italic" force-fullsize tooltip="Italic")
			button(is="cs-button" type="button" disabled inline-tag tag="u" on-tap="_inline_tag_toggle" icon="underline" force-fullsize tooltip="Underline")
			button(is="cs-button" type="button" disabled inline-tag tag="s" on-tap="_inline_tag_toggle" icon="strikethrough" force-fullsize tooltip="Strike Through")
			button(is="cs-button" type="button" disabled heading-tag level="1" on-tap="_heading_tag_toggle" icon="header" tooltip="Heading level 1") 1
			button(is="cs-button" type="button" disabled heading-tag level="2" on-tap="_heading_tag_toggle" icon="header" tooltip="Heading level 2") 2
			button(is="cs-button" type="button" disabled heading-tag level="3" on-tap="_heading_tag_toggle" icon="header" tooltip="Heading level 3") 3
			button(is="cs-button" type="button" data-command-name="insertOrderedList" icon="list-ol" force-fullsize tooltip="Ordered List")
			button(is="cs-button" type="button" data-command-name="insertUnorderedList" icon="list" force-fullsize tooltip="Unordered List")
			button(is="cs-button" type="button" disabled parameter-tag on-tap="_insert_parameter" icon="tag" force-fullsize tooltip="Insert parameter")
		nav(is="cs-nav-button-group")
			button(is="cs-button" type="button" disabled="[[equal(zoom, zoom_min)]]" on-tap="_zoom_minus" icon="minus" tooltip="Decrease zoom")
			input(is="cs-input-text" type="text" readonly value="[[zoom]] %" on-tap="_zoom_reset" class="zoom" tooltip="Current zoom level, click to reset")
			button(is="cs-button" type="button" disabled="[[equal(zoom, zoom_max)]]" on-tap="_zoom_plus" icon="plus" tooltip="Increase zoom")
			button(is="cs-button" type="button" on-tap="_toggle_preview" icon="[[if(preview, 'eye', 'eye-slash')]]" force-fullsize tooltip="Preview: [[if(preview, 'on', 'off')]]")
			button(is="cs-button" type="button" on-tap="_toggle_right_panel" icon="[[if(right_panel, 'chevron-right', 'chevron-down')]]" tooltip="Right panel, click to [[if(right_panel, 'hide', 'show')]]")
	script(src="script.js")
