dom-module#docplater-documents-search
	link(rel="import" href="style.css" type="css")
	template
		template(is="dom-repeat" items="[[documents]]")
			.item(on-click="_load_document")
				cs-icon(icon="file-text")
				= ' '
				| [[item.title]]
	script(src="script.js")
