dom-module#docplater-document-clause
	link(rel="import" href="style.css" type="css")
	template
		#content
			p
				= 'Here is my '
				docplater-document-parameter company
				= ' at '
				docplater-document-parameter company_location
	script(src="script.js")
