dom-module#docplater-app
	link(rel="import" href="style.css" type="css")
	template
		docplate-document-toolbar(scribe_instance="[[scribe_instance]]" right_panel="{{right_panel}}")
		.right-panel(show$="[[right_panel]]")
			nav(is="cs-nav-tabs")
				button(is="cs-button" type="button") Parameters
				button(is="cs-button" type="button") Search
			section(is="cs-section-switcher")
				docplater-document-parameters-panel
				div
					| Search will be here
		docplater-document(scribe_instance="{{scribe_instance}}" hash="43cc23fa52b87b4cc1d02b5b114154151d6adddb17c9fddc06b027fa99e24008")
	script(src="script.js")
