dom-module#docplater-app
	link(rel="import" href="style.css" type="css")
	template
		docplate-document-toolbar(scribe_instance="[[scribe_instance]]" right_panel="{{right_panel}}")
		.right-panel(show$="[[right_panel]]")
			nav(is="cs-nav-tabs")
				button(is="cs-button" type="button") Parameters
				button(is="cs-button" type="button") Search
			section(is="cs-section-switcher")
				docplater-document-parameters-panel
				#search-panel
					nav(is="cs-nav-tabs")
						button(is="cs-button" type="button") Documents
						button(is="cs-button" type="button") Templates
						button(is="cs-button" type="button") Clauses
					section(is="cs-section-switcher")
						docplater-documents-search
						div Documents templates here
						div Clauses templates here
		docplater-document(scribe_instance="{{scribe_instance}}")
	script(src="script.js")
