dom-module#docplater-document-parameters-panel
	link(rel="import" href="style.css" type="css")
	template
		h3 Parameters for document
		template(is="dom-repeat" items="[[document_parameters]]" as="parameter")
			label
				| @[[parameter.name]]:
				input(is="cs-input-text" type="text" value="[[parameter.value]]" placeholder="[[parameter.default_value]]" on-focus="_parameter_focus_in" on-blur="_parameter_focus_out")
		template(is="dom-repeat" items="[[clauses]]" as="clause" id="clauses")
			h3 Parameters for [[clause.hash]]
			template(is="dom-repeat" items="[[clause.parameters]]" as="parameter")
				label
					| @[[parameter.name]]:
					input(is="cs-input-text" type="text" value="{{parameter.value}}" placeholder="[[parameter.default_value]]" on-focus="_parameter_focus_in" on-blur="_parameter_focus_out")
	script(src="script.js")
