dom-module#docplater-document-parameter
	link(rel="import" href="style.css" type="css")
	template
		#content
			div(hidden="[[and(preview, exists)]]" exists$="[[exists]]") @[[name]]
			div(hidden="[[!and(preview, exists)]]" exists$="[[exists]]") [[parameter.display_value]]
	script(src="script.js")
